<div class="d-flex justify-content-center align-items-center">
    <mat-card class="p-5 mt-5">
        <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>
                Login to Meowfacts
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-5">
            <form class="d-flex flex-column" [formGroup]="loginForm">
                <mat-form-field>
                    <input matNativeControl 
                        formControlName="username"
                        placeholder="email"
                    />
                    <mat-error *ngIf="loginForm.get('username')?.hasError('email')">
                        Nieprawidłowy adres email
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matNativeControl 
                        formControlName="password"
                        placeholder="hasło"
                    />
                </mat-form-field>
                <mat-password-strength
                    #passwordComponent
                    [password]="loginForm.get('password')?.value ?? ''">
                </mat-password-strength>
                <mat-password-strength-info [passwordComponent]="passwordComponent">
                </mat-password-strength-info>
            </form>
        </mat-card-content>
        <mat-card-actions class="d-flex mt-5 justify-content-center">
            <button matButton mat-raised-button (click)="login()" color="primary">Zaloguj</button>
        </mat-card-actions>
    </mat-card>
</div>